/* gird for 2d layout */
/* grid container and items - line cell track area */

body {
  margin: 0;
}
.container {
  border: 6px solid black;
  /* display: inline-grid; */
  display: grid;
  /* height: 800px; */
  /* grid-template-columns:100px 200px 300px; */
  /* grid-template-columns:repeat(6,200px); */
  /* grid-template-columns:1fr 2fr 1fr; */
  /* grid-template-columns: repeat(3, minmax(200px, 1fr)); */

  /* grid-template-rows: 100px 150px 200px; */
  /* grid-template-rows: repeat(3,100px) 200px; */
  /* height: 400px; */
  /* grid-template-rows: repeat(3,1fr); */
  /* grid-template-rows: repeat(3,1fr); */

  /* shothand for rows and cols => rows/cols */
  /* grid-template: repeat(3, 1fr) / repeat(3, minmax(200px, 1fr)); */
  /* column-gap: 20px;
  row-gap: 30px; */

  /* shorthand row col */
  /* gap: 40px 20px; */

  /* items in cell */

  /* justify-items: stretch; */
  /* justify-items: start; */
  /* justify-items: end; */
  /* justify-items: center; */

  /* align-items: stretch; */
  /* align-items: start; */
  /* align-items: end; */
  /* align-items: center; */

  /* shorthand place col row , align justify */
  /* place-items: start end; */
  /* place-items: center; */

  /* grid-template: repeat(3,200px) / repeat(3, 200px); */

  /* justify-content: start; */
  /* justify-content: end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */

  /* align-content: start;
  align-content: end;
  align-content: center;
  align-content: space-between;
  align-content: space-around; */
  /* align-content: space-evenly; */

  /* shorthand col row  align justify */
  /* place-content: start end; */
  /* place-content: center; */

  /* grid-auto-flow: row; */
  /* grid-auto-flow: column; */

  /* grid-auto-columns: 100px;
  grid-auto-rows: 200px; */

  grid-template: repeat(3, 200px) / repeat(3, 200px);
}
.grid-item {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.item-1 {
  background-color: #b4bf35;
  /* grid-column-start: 1;
  grid-column-end:span 2;
  grid-row-start: 1;
  grid-row-end: span 2; */

  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.item-2 {
  background-color: #b95f21;
  /* justify-self:stretch; */
  /* justify-self:start;
  /* justify-self:end; */
  /* justify-self:center;  */

  /* align-self: stretch;
  align-self: start;
  align-self: end;
  align-self: center; */

  /* place-self: start end; */
  place-self: center;
}
.item-3 {
  background-color: #1c4c56;
}
.item-4 {
  background-color: #cfb276;
}
.item-5 {
  background-color: #6b0803;
}
.item-6 {
  background-color: #1c4c56;
}
.item-7 {
  background-color: #b95f21;
}
.item-8 {
  background-color: #01243a;
}
.item-9 {
  background-color: #aad041;
}
